.content {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #f6f5fa;
    text-align: center;
    background-image: url(../images/6.jpg);
    width: 100%; /*900px;*/
    height: 100%; /*624px;*/

}

#menu {
	/*line-height: 1.5;*/
    /*float: left; /*right;*/ 
    width: 100%; /*200px;*/
    height: 100%; /*624px;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*margin: 0 20px;*/
    /*white-space: pre; /*как сделать пробел между строк*/
}


