.content {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #f6f5fa;
    text-align: center;
    background-image: url(../images/6.jpg);
    width: 100%; /*900px;*/
    height: 100%; /*624px;*/
}