.header {
    margin: 0 auto;
    display: grid;
    width: 5fr;
    align-items: center;
    grid-template-areas: 
    "l c r";

    grid-template-rows: 220px 1fr;
    grid-template-columns: 1fr 2fr 2fr;
    /*grid-gap: 10px;*/

    background-image: linear-gradient(#07f8f4, white,#07f8f4);
}

.header-left {
    grid-area: l;

}

.header-center {
    grid-area: c;
}

.header-right {
    grid-area: r;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #615ACD;
    text-shadow: 3px 3px 1px #1C0A93;
}