body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    color:#0E025E;
    display: inline-block;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    text-align: center;
    border-bottom: 2px solid black;
  }
  
  thead button {
    border: 0;
    border-radius: none;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
  }
  
  thead button.ascending::after {
    content: '👇';
    display: inline-block;
    margin-left: 1em;
  }
  
  thead button.descending::after {
    content: '☝️';
    display: inline-block;
    margin-left: 1em;
  }
  
  tbody td {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    color:#0E025E;
  }
  
  tbody tr:hover {
    background-color: #eee;
    color:#0E025E;
  }

  caption {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #615ACD;
    text-shadow: 3px 3px 1px #1C0A93;
  }

  