* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
  }

  .tabs {
    display: flex;
    justify-content: center;
  }
  
  .tabitem {
    border: 2px solid rgb(219, 197, 233);
    cursor: pointer;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 15px;
    background-color: #280680;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .tabitem--inactive {
    opacity: 0.3;
    filter: grayscale(100%);
  }
  
  .tabitem__title {
    color: rgba(217, 196, 245, 0.9);
    font-size: 16px;
    margin: 10px 0;
  }
  
  .content {
    text-align: center; 
    margin-top: 15px;
    font-size: 16px;
  }
