.navigation {
    margin: 0 auto;
    display: grid;
    width: 3fr;
    align-items: center;
    grid-template-areas: 
    "l c r";

    grid-template-rows: 400px 1fr ;
    grid-template-columns: 1fr 2fr 1fr;
    
}

.navigation-left {
    grid-area: l;

}

.navigation-center {
    grid-area: c;
    text-align: center;
    margin: auto;
}

.navigation-right {
    grid-area: r;
}

h2 {
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
    color: #615ACD;
}

h3 {
    font-size: 20px;
    margin: 0;
    padding: 20px 0;
    color: #615ACD;
}

p {
    color:#0E025E;
    display: inline-block;
    
}
