.content {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #2d2841;
    text-align: center;
    background-image: url(../../../assets/images/6.jpg);
     width: 100%; 
    

}

#menu {
	/*line-height: 1.5;*/
    /*float: left; /*right;*/ 
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*margin: 0 20px;*/
    /*white-space: pre; /*как сделать пробел между строк*/
}


